In [25]:
import os
import argparse
import pickle
from glob import glob
import numpy as np
import random
import pandas as pd
from collections import defaultdict


base_path = '/mnt/fs2/2019/Takamuro/db/Transient_Attributes/'
df = pd.read_table(os.path.join(base_path, 'annotations', 'annotations_add_header.tsv'))
df

,photo,dirty,daylight,night,sunrisesunset,dawndusk,sunny,clouds,fog,storm,...,ice,cluttered,soothing,stressful,exciting,sentimental,mysterious,boring,gloomy,lush
0,00000064/1.jpg,"0.21337,7","0.83585,6","0.13824,6","0.16486,5","0.62494,6","0.38615,5","0.33951,5","0.019698,6","0.023172,6",...,"0.02254,5","0.4918,7","0.23348,7","0.12952,5","0.057863,6","0.11912,6","0.095998,7","0.63075,6","0.41052,8","0.17536,6"
1,00000064/101.jpg,"0.087876,7","0.86553,6","0.038267,6","0.046497,5","0.06217,6","1,5","0.1882,5","0.019698,6","0.023172,6",...,"0.02254,5","0.4918,7","0.66869,7","0.078056,5","0.3922,6","0.1241,6","0.14106,7","0.018542,6","0.14243,8","0.38887,6"
2,00000064/106.jpg,"0.23135,7","0.73344,6","0.038267,6","0.16486,5","0.11855,6","0.38615,5","0.56497,5","0.019698,6","0.49361,6",...,"0.02254,5","0.4918,7","0.32528,7","0.01364,5","0.057863,6","0.025097,6","0.095998,7","0.68733,6","0.41911,8","0.047206,6"
3,00000064/107.jpg,"0.40698,7","0.56384,6","0.86252,6","0.16486,5","0.80093,6","0.043308,5","0.1882,5","0.15615,6","0.023172,6",...,"0.02254,5","0.4918,7","0.14167,7","0.37873,5","0.057863,6","0.069622,6","0.17745,7","0.78087,6","0.5335,8","0.047206,6"
4,00000064/109.jpg,"0.2572,7","0.25579,6","0.68677,6","0.046497,5","0.55115,6","0.043308,5","0.1882,5","0.019698,6","0.023172,6",...,"0.02254,5","0.56672,7","0.51443,7","0.01364,5","0.16546,6","0.1241,6","0.26756,7","0.018542,6","0.49937,8","0.047206,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8566,90000014/91.jpg,"0.081369,5","1,6","0.032815,6","0.0054872,6","0.022595,6","1,6","0.14652,7","0.051587,5","0,5",...,"0.044502,7","0.18885,5","0.29076,6","0.032437,6","0.0472,5","0.03737,5","0.24754,5","0,6","0.073662,6","0.036722,6"
8567,90000014/92.jpg,"0.019562,5","0.94944,6","0.032815,6","0.0054872,6","0.19139,6","0.44978,6","0.2939,7","0.051587,5","0.13696,5",...,"0.044502,7","0.18885,5","0.40882,6","0.032437,6","0.16896,5","0.03737,5","0.24754,5","0,6","0.073662,6","0.27775,6"
8568,90000014/93.jpg,"0.019562,5","0.94944,6","0.032815,6","0.092225,6","0.064793,6","0.55959,6","0.2939,7","0.051587,5","0.064861,5",...,"0.044502,7","0.18885,5","0.40882,6","0.094569,6","0.16896,5","0.032379,4","0.17228,5","0.028431,6","0.073662,6","0.27775,6"
8569,90000014/95.jpg,"0.019562,5","0.94944,6","0.032815,6","0.0054872,6","0.44457,6","0.44978,6","0.091672,7","0.051587,5","0.041245,5",...,"0.044502,7","0.18885,5","0.40882,6","0.032437,6","0.16896,5","0.03737,5","0.17228,5","0,6","0.073662,6","0.33768,6"
8570,90000014/97.jpg,"0.019562,5","0.94582,6","0.032815,6","0.0054872,6","0.16735,6","0.37851,6","0.40359,7","0.051587,5","0.23392,5",...,"0.044502,7","0.18885,5","0.49481,6","0.094569,6","0.29479,5","0.15211,5","0.3228,5","0,6","0.12418,6","0.42823,6"

In [30]:
temp = df_['dirty']
type(temp[0])

str

In [24]:
df_.to_csv(os.path.join(base_path, 'annotations', 'annotations_add_header.tsv'), index=False, sep='\t')

In [11]:
_df = pd.DataFrame()
for cls in cls_li:
    df_ = df[df['condition2'] == cls]
    num = len(df[df['condition2'] == cls])
    print(cls, num)
    #df[df['condition'] == cls].sample(frac=1)
    df_.iloc[int(num*0.8): num, -1] = 'test'
    df_.iloc[int(num*0.4): int(num*0.8), -1] = 'val'
    _df = pd.concat([_df, df_])
    #df[df['condition2'] == cls][int(num*0.4): int(num*0.8)]['val'] =1
    #df[df['condition2'] == cls][int(num*0.8): num]['mode'] = 'test'

Clear 75506
Clouds 65458

/home/takamuro/.local/share/virtualenvs/cUNet-Pytorch-QTOunYY9/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Rain 20410
Snow 3947
Mist 16436

In [13]:
# df[df['condition2'] == 'Clear'][:int(num*0.4)]['train'] =1
_df[_df['mode'] == 'test']
#df

,photo,owner_location,owner_gloc,owner_geo,owner_tz,photo_geo,photo_tz,orig_date,normed_date,hour,...,cnn_snow,mlp_clear,mlp_clouds,mlp_mist,mlp_rain,mlp_snow,condition2,ent,ent_label,mode
3,11205143244,NaN,NaN,NaN,NaN,"(40.751905, -73.977149)",America/New_York,2016:10:24 18:08:13,NaN,NaN,...,0.008795,9.809259e-01,5.530516e-12,2.893710e-09,0.019074,3.495487e-26,Clear,0.597940,3.447754,test
5,11205548386,NaN,NaN,NaN,NaN,"(40.758571, -73.978521)",America/New_York,2016:10:26 13:45:23,NaN,NaN,...,0.000012,9.867343e-01,4.323016e-12,8.714144e-09,0.013266,6.234252e-25,Clear,0.032218,0.034040,test
8,14721547799,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:44:03,NaN,NaN,...,0.196896,9.516705e-01,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.169971,0.492236,test
9,14721581338,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:43:50,NaN,NaN,...,0.091437,9.516705e-01,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.154760,0.295816,test
10,14721632057,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:46:12,NaN,NaN,...,0.184765,9.516705e-01,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.140897,0.769504,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131416,27421739473,"Austin, Texas","Austin, TX, USA","(30.267153, -97.7430608)",America/Chicago,"(30.402416, -97.477312)",America/Chicago,2016:07:01 07:05:31,2016-07-01T07:05:31-05:00,7.0,...,0.005285,6.976435e-01,1.839782e-11,2.362819e-01,0.066075,7.005459e-21,Mist,0.235702,2.349488,test
131435,27422086501,NaN,NaN,NaN,NaN,"(33.533677, -86.800317)",America/Chicago,2016:03:13 07:57:55,NaN,NaN,...,0.028877,1.651707e-34,5.320817e-02,7.981302e-01,0.148662,3.822379e-08,Mist,0.544932,6.798341,test
131442,27422191341,San Mateo,"San Mateo, CA, USA","(37.5629917, -122.3255254)",America/Los_Angeles,"(37.588543, -122.329437)",America/Los_Angeles,2016:05:29 11:38:43,2016-05-29T11:38:43-07:00,11.0,...,0.990192,0.000000e+00,8.783751e-02,4.432235e-01,0.468939,3.320418e-25,Mist,0.868690,13.652595,test
131502,27423878015,United States,United States,"(37.09024, -95.712891)",America/Chicago,"(41.573333, -93.278045)",America/Chicago,2016:05:18 04:19:56,2016-05-18T04:19:56-05:00,4.0,...,0.005867,8.329877e-01,2.863707e-08,1.400503e-01,0.026962,2.390788e-15,Mist,0.330392,9.244771,test
131504,27423986665,"South Bay, Los Angeles Area, CA, USA","South Bay, CA, USA","(33.8798386, -118.3812562)",America/Los_Angeles,"(33.775922, -117.707017)",America/Los_Angeles,2016:06:01 13:13:17,2016-06-01T13:13:17-07:00,13.0,...,0.020945,3.647470e-19,6.753490e-01,5.456433e-02,0.270087,1.575896e-25,Mist,0.297785,9.174772,test

In [15]:
#df[df['condition'] == 'Clear'][:int(num*0.4)]['train']

df = df[df['ent_label'] < 0.3]
df
#df[df['condition'] == 'Clear'][:int(num*0.4)]['train']

,photo,owner_location,owner_gloc,owner_geo,owner_tz,photo_geo,photo_tz,orig_date,normed_date,hour,...,cnn_snow,mlp_clear,mlp_clouds,mlp_mist,mlp_rain,mlp_snow,condition2,ent,ent_label,mode
5,11205548386,NaN,NaN,NaN,NaN,"(40.758571, -73.978521)",America/New_York,2016:10:26 13:45:23,NaN,NaN,...,0.000012,9.867343e-01,4.323016e-12,8.714144e-09,0.013266,6.234252e-25,Clear,0.032218,0.034040,test
9,14721581338,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:43:50,NaN,NaN,...,0.091437,9.516705e-01,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.154760,0.295816,test
12,14885218566,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:41:54,NaN,NaN,...,0.041446,9.516705e-01,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.120475,0.187808,test
13,14905135671,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:42:40,NaN,NaN,...,0.003254,9.516705e-01,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.160572,0.166202,test
94,22745320028,NaN,NaN,NaN,NaN,"(27.347831, -82.517344)",America/New_York,2016:03:12 14:15:37,NaN,NaN,...,0.000113,9.418445e-01,1.929403e-10,7.961833e-03,0.050194,5.039481e-10,Clear,0.144688,0.163032,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131301,27420137110,"Sacramento, United States","Sacramento, CA, USA","(38.5815719, -121.4943996)",America/Los_Angeles,"(39.746901, -122.195059)",America/Los_Angeles,2016:06:11 10:35:55,2016-06-11T10:35:55-07:00,10.0,...,0.009894,9.138642e-01,1.385276e-10,9.119745e-04,0.085224,3.946742e-21,Clear,0.235361,0.252747,test
131310,27420329083,"Tampa, FL, United States","Tampa, FL, USA","(27.950575, -82.4571776)",America/New_York,"(41.341997, -71.978859)",America/New_York,2016:06:24 18:39:04,2016-06-24T18:39:04-04:00,18.0,...,0.016031,8.860822e-01,5.387401e-10,2.840377e-02,0.085514,8.054648e-23,Clear,0.251779,0.280194,test
131311,27420346274,NaN,NaN,NaN,NaN,"(41.343383, -71.978162)",America/New_York,2016:06:24 18:39:32,NaN,NaN,...,0.000113,8.860822e-01,5.387401e-10,2.840377e-02,0.085514,8.054648e-23,Clear,0.274304,0.277177,test
131465,27422635281,"Tenino, WA, USA","Tenino, WA 98589, USA","(46.8567662, -122.8529093)",America/Los_Angeles,"(46.306505, -124.072809)",America/Los_Angeles,2016:06:04 10:19:15,2016-06-04T10:19:15-07:00,10.0,...,0.018563,2.323566e-09,8.749350e-01,3.575509e-03,0.121490,8.356934e-25,Clouds,0.225944,0.273344,test
131527,27424909304,NaN,NaN,NaN,NaN,"(37.820200, -122.374600)",America/Los_Angeles,2016:06:25 14:13:57,NaN,NaN,...,0.065459,9.249802e-01,2.199954e-10,6.678899e-04,0.074352,4.135551e-24,Clear,0.197243,0.297511,test

In [57]:
df = pd.read_pickle('/mnt/fs2/2019/okada/b4_sys/search_parm_new2/parm_0.3/df_con.pkl')

In [60]:
df['mode'] = 'train'
dataset_dict = defaultdict(list)
d_li = [df[df['condition2'] == cls] for cls in cls_li]
for df_ in d_li:
    len_ = len(df_)
    #random.shuffle(df_)
    df[: int(len_ * 0.4)]['mode'] = 'test'
    #dataset_dict['val'] += df_[int(len_ * 0.4): int(len_ * 0.8)]
    #dataset_dict['train'] += df_[int(len_ * 0.8): len_]

In [62]:
d_li[0]

,photo,owner_location,owner_gloc,owner_geo,owner_tz,photo_geo,photo_tz,orig_date,normed_date,hour,...,cnn_snow,mlp_clear,mlp_clouds,mlp_mist,mlp_rain,mlp_snow,condition2,ent,ent_label,mode
3,11205143244,NaN,NaN,NaN,NaN,"(40.751905, -73.977149)",America/New_York,2016:10:24 18:08:13,NaN,NaN,...,0.008795,0.980926,5.530516e-12,2.893710e-09,0.019074,3.495487e-26,Clear,0.597940,3.447754,train
5,11205548386,NaN,NaN,NaN,NaN,"(40.758571, -73.978521)",America/New_York,2016:10:26 13:45:23,NaN,NaN,...,0.000012,0.986734,4.323016e-12,8.714144e-09,0.013266,6.234252e-25,Clear,0.032218,0.034040,train
8,14721547799,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:44:03,NaN,NaN,...,0.196896,0.951670,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.169971,0.492236,train
9,14721581338,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:43:50,NaN,NaN,...,0.091437,0.951670,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.154760,0.295816,train
10,14721632057,NaN,NaN,NaN,NaN,"(35.077932, -106.586329)",America/Denver,2016:06:19 12:46:12,NaN,NaN,...,0.184765,0.951670,1.821733e-11,5.588782e-04,0.047771,5.455859e-24,Clear,0.140897,0.769504,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131545,27425398473,NaN,NaN,NaN,NaN,"(33.763218, -118.192484)",America/Los_Angeles,2016:04:15 09:01:34,NaN,NaN,...,0.012028,0.583692,5.646321e-09,1.922075e-01,0.223334,7.663587e-04,Clear,0.710894,1.141269,train
131546,27425400283,NaN,NaN,NaN,NaN,"(33.763218, -118.192484)",America/Los_Angeles,2016:04:15 09:00:40,NaN,NaN,...,0.000586,0.583692,5.646321e-09,1.922075e-01,0.223334,7.663587e-04,Clear,0.859961,1.075061,train
131547,27425469481,"Clarksburg, WV","Clarksburg, WV, USA","(39.2806451, -80.34453409999999)",America/New_York,"(39.269768, -80.355465)",America/New_York,2016:05:30 08:34:49,2016-05-30T08:34:49-04:00,8.0,...,0.000071,0.267213,8.159969e-09,6.601695e-01,0.072618,1.035671e-19,Clear,1.349300,1.507694,train
131554,27425869816,"Berkeley, CA, United States","Berkeley, CA, USA","(37.8715226, -122.273042)",America/Los_Angeles,"(36.952223, -122.026240)",America/Los_Angeles,2016:05:17 20:42:07,2016-05-17T20:42:07-07:00,20.0,...,0.010080,0.580249,1.106863e-08,3.084395e-01,0.111312,1.088338e-20,Clear,0.900206,1.508630,train
131557,27426028842,"Columbus, Ohio, United States","Columbus, OH, USA","(39.9611755, -82.99879419999999)",America/New_York,"(40.013850, -83.046806)",America/New_York,2016:06:07 10:33:10,2016-06-07T10:33:10-04:00,10.0,...,0.509708,0.724666,8.143251e-10,1.323872e-01,0.142947,1.705608e-20,Clear,0.631628,1.981141,train